:root {
    --motion-timing-function: cubic-bezier(0.19, 1.32, 0.48, 1);
    --motion-duration: 0.3s;
    --container-width: 120rem;
    --line-height-inspirational: 1.25;
    --line-height-functional: 1.5;
    --font-size-inspirational-xl: clamp(2.75rem, 5.357vw + 0.179rem, 3.5rem);
    --font-size-inspirational-l: clamp(2.25rem, 5.357vw + -0.321rem, 3rem);
    --font-size-inspirational-m: clamp(1.75rem, 5.357vw + -0.821rem, 2.5rem);
    --font-size-inspirational-s: clamp(1.5rem, 3.571vw + -0.214rem, 2rem);
    --font-size-inspirational-xs: clamp(1.25rem, 1.786vw + 0.393rem, 1.5rem);
    --font-size-inspirational-xxs: clamp(1.125rem, 0.893vw + 0.696rem, 1.25rem);
    --font-size-functional-xl: 1.125rem;
    --font-size-functional-l: 1rem;
    --font-size-functional-m: 0.875rem;
    --font-size-functional-s: 0.75rem;
    --font-size-functional-xs: 0.625rem;
    --font-weight-inspirational-regular: 400;
    --font-weight-functional-bold: 600;
    --font-weight-functional-regular: 400;
    --font-family-inspirational: "Ophian", Georgia, "Times New Roman", Times, serif;
    --font-family-functional: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --spacing-80: 5rem;
    --spacing-72: 4.5rem;
    --spacing-64: 4rem;
    --spacing-56: 3.5rem;
    --spacing-48: 3rem;
    --spacing-40: 2.5rem;
    --spacing-32: 2rem;
    --spacing-24: 1.5rem;
    --spacing-16: 1rem;
    --spacing-12: 0.75rem;
    --spacing-8: 0.5rem;
    --spacing-4: 0.25rem;
    --overlay-product-100: rgb(109 77 8 / 0.06);
    --overlay-media-200: linear-gradient(rgb(0 0 0 / 0) 0%, rgb(0 0 0 / 0.4) 40%, rgb(0 0 0 / 0.7) 100%);
    --overlay-media-100: linear-gradient(rgb(0 0 0 / 0) 0%, rgb(0 0 0 / 0) 25%, rgb(0 0 0 / 0.5) 100%);
    --border-width-2: 2px;
    --border-width-1: 1px;
    --border-radius-full: 9999px;
    --color-warning-200: #B75300;
    --color-warning-100: #FAF3ED;
    --color-error-200: #920000;
    --color-error-100: #F7EDED;
    --color-success-200: #07683D;
    --color-success-100: #EDF4F1;
    --color-warm-grey-600: #3E3A37;
    --color-warm-grey-500: #635F5C;
    --color-warm-grey-400: #ABA6A4;
    --color-warm-grey-300: #E1DDD9;
    --color-warm-grey-200: #E6E6E6;
    --color-warm-grey-100: #F6F6F6;
    --color-accessibility-200: rgb(34 97 197 / 0.3);
    --color-accessibility-100: #2261C5;
    --color-purple-300: #30265D;
    --color-purple-200: #472F92;
    --color-purple-100: #5A44B7;
    --color-sustainable-100: #B06145;
    --color-honey-200: #BA8000;
    --color-honey-100: #F6A800;
    --color-creme-300: #F1E6D9;
    --color-creme-200: #f6efe7;
    --color-creme-100: #faf7f3;
    --color-white: #ffffff;
    --color-black: #000000;
    --font-inspirational-xl: var(--font-weight-inspirational-regular) var(--font-size-inspirational-xl) / var(--line-height-inspirational) var(--font-family-inspirational);
    --font-inspirational-l: var(--font-weight-inspirational-regular) var(--font-size-inspirational-l) / var(--line-height-inspirational) var(--font-family-inspirational);
    --font-inspirational-m: var(--font-weight-inspirational-regular) var(--font-size-inspirational-m) / var(--line-height-inspirational) var(--font-family-inspirational);
    --font-inspirational-s: var(--font-weight-inspirational-regular) var(--font-size-inspirational-s) / var(--line-height-inspirational) var(--font-family-inspirational);
    --font-inspirational-xs: var(--font-weight-inspirational-regular) var(--font-size-inspirational-xs) / var(--line-height-inspirational) var(--font-family-inspirational);
    --font-inspirational-xxs: var(--font-weight-inspirational-regular) var(--font-size-inspirational-xxs) / var(--line-height-inspirational) var(--font-family-inspirational);
    --font-functional-bold-xl: var(--font-weight-functional-bold) var(--font-size-functional-xl) / var(--line-height-functional) var(--font-family-functional);
    --font-functional-bold-l: var(--font-weight-functional-bold) var(--font-size-functional-l) / var(--line-height-functional) var(--font-family-functional);
    --font-functional-bold-m: var(--font-weight-functional-bold) var(--font-size-functional-m) / var(--line-height-functional) var(--font-family-functional);
    --font-functional-bold-s: var(--font-weight-functional-bold) var(--font-size-functional-s) / var(--line-height-functional) var(--font-family-functional);
    --font-functional-bold-xs: var(--font-weight-functional-bold) var(--font-size-functional-xs) / var(--line-height-functional) var(--font-family-functional);
    --font-functional-regular-xl: var(--font-weight-functional-regular) var(--font-size-functional-xl) / var(--line-height-functional) var(--font-family-functional);
    --font-functional-regular-l: var(--font-weight-functional-regular) var(--font-size-functional-l) / var(--line-height-functional) var(--font-family-functional);
    --font-functional-regular-m: var(--font-weight-functional-regular) var(--font-size-functional-m) / var(--line-height-functional) var(--font-family-functional);
    --font-functional-regular-s: var(--font-weight-functional-regular) var(--font-size-functional-s) / var(--line-height-functional) var(--font-family-functional);
    --font-functional-regular-xs: var(--font-weight-functional-regular) var(--font-size-functional-xs) / var(--line-height-functional) var(--font-family-functional);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-white);
    color: var(--color-black);
    font: var(--font-functional-regular-m);
    letter-spacing: normal;
    margin: 0;
    text-decoration: none;
    text-transform: none;
}